// all stylings from the app-bar for small displays (smartphone, tablet) are here

.app-bar {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $main;
	z-index: 1;
}
.app-bar-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	width: 100%;
	height: $appbar_height;
	position: relative;
	margin: 0 auto;
	@include shadow(2);
}
.app-bar.open, .app-bar.open ~ main {
	-webkit-transform: translate($navi_width, 0);
	-ms-transform: translate($navi_width, 0);
	transform: translate($navi_width, 0);
}
.app-bar .logo {
	height: 32px;
}
.app-bar a {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	text-decoration: none;
	color: inherit;

	margin-right: $appbar_height;
}
.app-bar-actions {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	-ms-flex-order: 3;
	order: 3;
	z-index: 2;
}
.app-bar button {
	width: $appbar_height;
	height: $appbar_height;
	background-image: none;
	background-color: transparent;
	border: none;
	padding: 0;
	display: inline-block;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	-webkit-tap-highlight-color: transparent;

}
.app-bar button.menu {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}
.app-bar button.menu img {
	height: 24px;
	width: 24px;
}
.app-bar button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.app-bar button:focus {
	background-color: rgba(255, 255, 255, 0.2);
	outline: 0;
}
.app-bar button:active {
	background-color: rgba(255, 255, 255, 0.4);
}


@media all and (max-height: 600px) and (orientation : landscape){
	.app-bar-container {
		height: $appbar_height - 8px;
	}

	.app-bar a {
		margin-right: $appbar_height - 8px;
	}

	.app-bar button {
		width: $appbar_height - 8px;
		height: $appbar_height - 8px;
	}
}

@media all and (min-width: 600px){
	.app-bar-container {
		height: $appbar_height + 8px;
	}

	.app-bar a {
		margin-right: $appbar_height + 8px;
	}

	.app-bar button {
		width: $appbar_height + 8px;
		height: $appbar_height + 8px;
	}
	.app-bar button.menu img {
		height: 32px;
		width: 32px;
	}
}
