// the styling of the app-bar for desktop size
.app-bar {
	position: relative;
}
.app-bar.open, .app-bar.open ~ main {
	-webkit-transform: translate(0px, 0);
	transform: translate(0px, 0);
}
.app-bar-container {
	max-width: $content_width;
	align-items: center;
	justify-content: center;
	height: auto;

	@include shadow(0);
}
.app-bar a {
	margin: 0;
}
.app-bar .logo {
	flex: none;
	margin: 30px;
	padding: 0;
	height: 180px;
}
.app-bar-actions {
	float: right;
}
.app-bar::after {
	content: ' ';
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
button.menu {
	display: none;
}
