@import 'variables';
// naigation for desktop size
.navdrawer-container {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 0;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: none;
	transition: none;
	overflow-y: auto;

	@include shadow(2);
}
.navdrawer-container h4 {
	display: none;
}
.navdrawer-container ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.navdrawer-container ul li a {
	border: 0;
	font-size: 24px;
	padding: 12px 28px;
}
