.searchdrawer-container {
	z-index: 1;
	position: fixed;
	top: 0;
	left:100%;
	width: $search_width;
	height: 100%;
	background: $main;
	color: $whiteprimary;
	overflow-y: auto;
}
.searchdrawer-container.search {
	-webkit-transform: translate(-$search_width, 0);
	transform: translate(-$search_width, 0);
}
.searchdrawer-container.searched{
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
