//colors
$green: #069209;
$white: #fefefe;

//sizes
$navi_width: 220px;
$content_width: 1400px;

$appbar_height: 60px;

$content_margin: 15px;

// backgroud patterns
//$back_pattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAKElEQVQIW2Nki2P7z2LMwvDv+T8GRq6JXP9BjH/PgByOCo7/IAZIFgA+8RCYroFx+gAAAABJRU5ErkJggg==) repeat 
$back_pattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQIW2Nkm8TxnwEGnv1jYIQLADkMUkxQASgHpJCRrYLtP0gGBgDrZQxl3OonhAAAAABJRU5ErkJggg==) repeat 
